* body {
font-family: 'Gafata',Helvetica,Arial,sans-serif !important;
font-weight: 200;
background-color: #FFE5CC;
}
.ui.menu.teal{
/*position: absolute;
top: 0;
left: 0;*/
-moz-box-shadow:    0px 0px 5px 10px #ccc;
-webkit-box-shadow: 0px 0px 5px 10px #ccc;
box-shadow: 0px 0px 10px 5px #00B5AD;
}
.ui.modal.mini{
width: 32%;
left: 33%;
margin: 0 auto;
}
.ui.modal.tiny{
width: 40%;
left: 30%;
margin: 0 auto;
}
.full{
width:100%;
}
.white{
color: #FFFFFF;
}
.menu.item{
/*font-weight: 200;*/
font-size: 0.8em;
}
#signup{
background-color: #FFE5CC;
}
#footer{
/*height: 30px;
position: absolute;
bottom: 0;
left: 0;*/
}