* body {
/*font-family: 'Gafata',Helvetica,Arial,sans-serif !important;*/
font-family: 'Quicksand',Helvetica,Arial,sans-serif !important;
font-weight: 200;
}
#footer-links{
position: relative;
bottom: -10px;
}
.centered.large{
margin: 0 auto;
width: 300px;
}
.centered.small{
margin: 0 auto;
width: 160px;
}
#header{
padding: 10px 0 30px 0;
}
#content{
min-height: 400px;
padding: 20px 0 20px 20px;
}
#footer{
padding: 60px 0 0 0;
}
.primary.row{
position: block;
width: 80%;
margin: 0 auto;
min-height: 40px;
max-width: 100%;
min-width: 768px;
}
.row.header, .row.footer{
/*width: 85%;*/
}
.ui.header.teal{
box-shadow: 0 0 0 1px rgba(0,181,173,.3);
/*border: 1px solid #00B5AD;*/
}
.ui.header.black{
box-shadow: 0 0 0 1px rgba(92,97,102,.3);
/*border: 1px solid #5C6166;*/
}
.mini.ui.icon.button{
margin: 0 5px;
}
.ui.modal.mini{
width: 32%;
left: 33%;
margin: 0 auto;
}
.ui.modal.tiny{
width: 40%;
left: 30%;
margin: 0 auto;
}
.full{
width:100%;
}
.white{
color: #FFFFFF;
}
.menu.item{
font-size: 0.8em;
}
#signup{
background-color: #FFE5CC;
}
.fixed.bottom{
position: absolute;
bottom: 0;
}